<div class="list-group">
    <div class="list-group-item">
        <div class="d-flex flex-column w-100 justify-content-between">
            <h5 >Penjualan Terbanyak</h5>
            <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">No</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Stok</th>
                <th scope="col">Jumlah Terjual</th>
                <th scope="col">Tanggal Transaksi</th>
                <th scope="col">Jenis Barang</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            
            
            <tbody>
              <tr class="text-center">
                <th scope="row"><%=data.penjualanBanyak.no%></th>
                <td><%=data.penjualanBanyak.namaBarang%></td>
                <td><%=data.penjualanBanyak.stok%></td>
                <td><%=data.penjualanBanyak.jumlahTerjual%></td>
                <td><%= new Date(data.penjualanBanyak.tanggalTransaksi).toLocaleDateString('id').split("/").join("-") %></td>
                <td><%=data.penjualanBanyak.jenisBarang%></td>
              </tr>
            </tbody>
          </table>
          <h5 class="mt-5">Penjualan paling Sedikit</h5> 
          <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">No</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Stok</th>
                <th scope="col">Jumlah Terjual</th>
                <th scope="col">Tanggal Transaksi</th>
                <th scope="col">Jenis Barang</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            
            
            <tbody>
              <tr class="text-center">
                <th scope="row"><%=data.penjualanSedikit.no%></th>
                <td><%=data.penjualanSedikit.namaBarang%></td>
                <td><%=data.penjualanSedikit.stok%></td>
                <td><%=data.penjualanSedikit.jumlahTerjual%></td>
                <td><%= new Date(data.penjualanSedikit.tanggalTransaksi).toLocaleDateString('id').split("/").join("-") %></td>
                <td><%=data.penjualanSedikit.jenisBarang%></td>
              </tr>
            </tbody>
          
          </table>
        </div>
        <a href="/dashboard/"><button  class="btn btn-secondary mt-5">Kembali</button></a>
        <a href="/data/sortname"><button  class="btn btn-primary mt-5">Urutkan Data</button></a>
        <a href="/data/sortdate"><button  class="btn btn-primary mt-5">Urutkan Data</button></a>
        <a href="/data/compare"><button  class="btn btn-success mt-5">Bandingkan Penjualan</button></a>
      </a>
    </div>
  </div>
  