<div class="list-group">
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">No</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Stok</th>
                <th scope="col">Jumlah Terjual</th>
                <th scope="col">Tanggal Transaksi</th>
                <th scope="col">Jenis Barang</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            
            <% data.semuaBarang.forEach(i => { %>
            <tbody>
              <tr class="text-center">
                <th scope="row"><%=i.no%></th>
                <td><%=i.namaBarang%></td>
                <td><%=i.stok%></td>
                <td><%=i.jumlahTerjual%></td>
                <td><%= new Date(i.tanggalTransaksi).toLocaleDateString('id').split("/").join("-") %></td>
                <td><%=i.jenisBarang%></td>
              </tr>
            </tbody>
            <% }) %>
          </table>
        </div>
        <a href="/dashboard/"><button  class="btn btn-secondary mt-5">Kembali</button></a>
        <a href="/data/sortname"><button  class="btn bg-info mt-5 text-white">Urutkan Data Berdasarkan Nama</button></a>
        <a href="/data/sortdate"><button  class="btn bg-info mt-5 text-white">Urutkan Data Berdasarkan Tanggal</button></a>
        <a href="/data/compare"><button  class="btn btn-success mt-5">Bandingkan Penjualan</button></a>
        <form action="/data/betweendate" method="post">
          <div class="my-5">
            <label for="formGroupExampleInput" class="form-label">Dari Tanggal</label>
            <input name="start" value="" type="date" class="form-control" id="tanggalTransaksi" placeholder="Dari Tanggal" required>
          </div>
          <div class="my-3">
            <label for="formGroupExampleInput" class="form-label">Sampai Tanggal</label>
            <input name="end" value="" type="date" class="form-control" id="tanggalTransaksi" placeholder="Sampai Tanggal" required>
          </div>
          <button type="submit" class="btn btn-primary mt-5">Cari Berdasarkan Tanggal</button>
        </form>
      </a>
    </div>
  </div>
  