<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" type="text/css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include("../partials/navbar.ejs") %>
    <!-- Card Container -->
    <div class="container" >
    
    <div class="container d-flex p-4 flex-column">
      <!-- Content Title -->
      <h4><%=contentTitle%></h4>
      </div>
    
    <div class="container p-4 bg-white" >
      <!-- Content Here -->
      <%- body %>
    </div>
  </body>
</html>
