<div class="list-group">
    <div class="list-group-item">
        <div class="d-flex justify-content-between flex-wrap">
          <div class="mb-3">
            <form action="/dashboard/create" method="post">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">No</label>
                <input name="no" value="" type="number" min="0" max="1000000" class="form-control" id="no" placeholder="No" required>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nama Barang</label>
                <input name="namaBarang" value="" type="text" class="form-control" id="namaBarang" placeholder="Nama Barang" required>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Stok</label>
                <input name="stok" value="" type="number" min="0" max="1000000" class="form-control" id="stok" placeholder="Stok" required>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Jumlah Terjual</label>
                <input name="jumlahTerjual" value="" type="number" min="0" max="1000000" class="form-control" id="jumlahTerjual" placeholder="Jumlah Terjual" required>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Tanggal Transaksi</label>
                <input name="tanggalTransaksi" type="date" class="form-control" id="tanggalTransaksi" placeholder="Tanggal Transaksi" required value="">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Jenis Barang</label>
                <input name="jenisBarang" value="" type="text" class="form-control" id="jenisBarang" placeholder="Jenis Barang" required>
              </div>
              <button type="submit" class="btn btn-success mt-5">Kirim</button>
        </form>
        <a href="/dashboard/"><button  class="btn btn-secondary mt-5">Kembali</button></a>
        </div>
    </div>
  </div>
  