<div class="list-group">
  <div class="list-group-item">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="mb-3">
          <form action="/dashboard/edit/<%=data.barang.id%>" method="post">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">No</label>
              <input name="no" value="<%=data.barang.no%>" type="number" min="0" max="1000000" class="form-control" id="no" placeholder="No" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Nama Barang</label>
              <input name="namaBarang" value="<%=data.barang.namaBarang%>" type="text" class="form-control" id="namaBarang" placeholder="Nama Barang" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Stok</label>
              <input name="stok" value="<%=data.barang.stok%>" type="number" min="0" max="1000000" class="form-control" id="stok" placeholder="Stok" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Jumlah Terjual</label>
              <input name="jumlahTerjual" value="<%=data.barang.jumlahTerjual%>" type="number" min="0" max="1000000" class="form-control" id="jumlahTerjual" placeholder="Jumlah Terjual" required>
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Tanggal Transaksi</label>
              <input name="tanggalTransaksi" type="text" class="form-control" id="tanggalTransaksi" placeholder="Tanggal Transaksi" required value="<%=new Date(data.barang.tanggalTransaksi).toLocaleDateString('id').split("/").join("-")%>">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Jenis Barang</label>
              <input name="jenisBarang" value="<%=data.barang.jenisBarang%>" type="text" class="form-control" id="jenisBarang" placeholder="Jenis Barang" required>
            </div>
        <button type="submit" class="btn btn-danger">Ubah</button>  
      </form>
      <a href="/dashboard/"><button  class="btn btn-secondary mt-5">Kembali</button></a>
      </div>
  </div>
</div>
