<div class="list-group">
  <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <table class="table">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">No</th>
              <th scope="col">Nama Barang</th>
              <th scope="col">Stok</th>
              <th scope="col">Jumlah Terjual</th>
              <th scope="col">Tanggal Transaksi</th>
              <th scope="col">Jenis Barang</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          
          <% data.semuaBarang.forEach(i => { %>
          <tbody>
            <tr class="text-center">
              <th scope="row"><%=i.no%></th>
              <td><%=i.namaBarang%></td>
              <td><%=i.stok%></td>
              <td><%=i.jumlahTerjual%></td>
              <td><%= new Date(i.tanggalTransaksi).toLocaleDateString('id').split("/").join("-") %></td>
              <td><%=i.jenisBarang%></td>
              <td scope="col"> <a href="/dashboard/delete/<%=i.id%>"> <button class="btn btn-danger">Hapus</button></a></td>
              <td scope="col"> <a href="/dashboard/edit/<%=i.id%>"> <button class="btn btn-secondary">Ubah</button></a></td>
            </tr>
          </tbody>
          <% }) %>
        </table>
      </div>
      <a href="/dashboard/create"> <button class="btn btn-primary">Tambah</button></td></a>
    </a>
  </div>
</div>
